@charset "UTF-8";
/*
	document.css
	Written on October 29, 30, November 4, and 12, 2019.
*/

:root {
	--gray-1: #161616;
	--gray-2: #282828;
	--gray-3: #555555;
	--gray-4: #777777;
	--gray-5: #AAAAAA;
	--gray-6: #BBBBBB;
	--gray-7: #CCCCCC;
	--gray-8: #EEEEEE;
	--gray-9: #F2F2F2;
	--gray-10: #FCFCFC;

	font-family: "Noto Sans KR", sans-serif;
	background-color: var(--gray-7);
}
@media only screen and (max-width: 590px) {
	:root {
		font-size: 90%;
	}
}

:root, body {
	margin: 0;
	padding: 0;
}
